.App {
  display: flex;
}

.login-block {
  margin: 20px;
  justify-content: flex-start;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.tasks-block {
  display: grid;
  width: 80%;
}

.task-item {
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 20px;
  background-color: aquamarine;
  border: 2px;
  border-style: dashed;
}